.DS_Store
.build
.idea/
/out/
vendor/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
composer.lock
composer.phar
.php_cs.cache